/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
// CUSTOM FONT HERE
// @import "fonts/dm-mono";
// @import "fonts/lora";
@import "tailwindcss/utilities";

@layer base {
  :root {
    // colors
    --white: 0, 0%, 100%;
    --black: 0, 0%, 0%;
    --dark-gray: 0, 0%, 55%;
    --very-dark-gray: 0, 0%, 41%;

    ////////////////////
    // text colors /////
    ////////////////////
    --text-fill: var(--black);
    --text-muted: var(--dark-gray);
    --text-inverted: var(--white);

    /////////////////////////////
    // background colors /////////
    /////////////////////////////
    --bg-fill: var(--red);
    --bg-footer: var(--black);

    /////////////////////////////
    // background button colors /////////
    /////////////////////////////
    --bg-button-primary: var(--blue);
    --bg-button-success: var(--green);

    /////////////////////////////
    // border colors /////////////
    /////////////////////////////
    --border-fill: var(--grayish-blue);
    --border-danger: var(--red);
  }
}

@layer components {
  .btn {
    @apply inline-block;
  }
  .btn-outline {
    @apply text-sm font-black py-2 px-8 tracking-widest font-subheading border border-black hover:bg-black hover:text-white;
  }

  .link {
    @apply font-black font-subheading hover:pb-2 hover:border-b-4 hover:border-white;
  }

}
